{% extends 'base.html.twig' %}

{% block title %}Merk overzicht{% endblock %}

{% block body %}
    <div class="list-group">
        <div class="container-fluid text-center">
            <div class="row align-items-start">
                {% for i in 0.. merken|length/3 %}
                    <div class="col">
                        <a href="/merk/{{ merken[i].id }}" class="list-group-item">{{ merken[i].naam }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="row align-items-center">
                {% for i in merken|length/3+1..(merken|length/3)*2+1 %}
                    <div class="col">
                        <a href="/merk/{{ merken[i].id }}" class="list-group-item">{{ merken[i].naam }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="row align-items-end">
                {% for i in merken|length/3*2+1..merken|length %}
                    <div class="col">
                        <a href="/merk/{{ merken[i].id }}" class="list-group-item">{{ merken[i].naam }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
