{% extends 'base.html.twig' %}

{% block title %} {{ merk.naam }} heeft de volgende auto's{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1> {{ merk.naam }}</h1>
        <h2>Opgericht in: {{ merk.landOpgericht }}</h2>
        <div class="container-fluid">
            De volgende auto's staan in de database:
            <div class="list-group list-group-horizontal">
                {% for auto in autos %}
                    <a href="/car/{{ auto.id }}" class="list-group-item">{{ auto.naam }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}